<% if false %>
<form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="user_username">Username</label>
  <input id="user_username" name="user[username]" type="text">
  <label for="user_email">Email</label>
  <input id="user_email" name="user[email]" type="text">
  <label for="user_password">Password</label>
  <input id="user_password" name="user[password]" type="password">
  
  <input name="commit" type="submit" value="Create User">
</form>
<% end %>

<% if false %>
<%= form_tag( controller: "users", action: "create", method: "post") do %>
  <%= label_tag(:username, "Username") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:email, "Email") %>
  <%= email_field_tag(:email) %>
  <%= label_tag(:password, "Choose a password") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Create User") %>
<% end %>
<% end %>

<%= form_for @user, url: { action: 'update' } do |f| %>
  <%= f.label(:username, "Choose a username") %>
  <%= f.text_field :username %>
  <%= f.label(:email, "Email") %>
  <%= f.email_field :email %>
  <%= f.label(:password, "Choose a password") %>
  <%= f.password_field :password %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>
  
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.submit "Update User" %>
<% end %>